@*@model IEnumerable<Lost.Model.Common.IRedCross>*@
@model PagedList.IPagedList<Lost.Model.Common.IRedCross>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create new Red Cross", "Create", "Red")
</p>
@using (Html.BeginForm("Index", "Red", FormMethod.Get))
{
    <p>
        Search by name or location:
        @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "Search" }) 
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            City
        </th>
        <th>
            Country
        </th>
        <th>
            Person in charge
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonInCharge)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.RedCrossId })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber }));