@model IEnumerable<Lost.DAL.LostPersonEntity>
@{
    ViewBag.Title = "Index";
}

<h2>Index - Lost</h2>

<p>
    @Html.ActionLink("Report Missing Person", "ReportMissing")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
    </p>
    <p>
        Find by location: @Html.TextBox("LocationString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationLastSeen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLastSeen)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => item.LocationLastSeen)
            </td>
            <td>
                @Html.DisplayFor(model => item.DateLastSeen)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>

        </tr>
    }
</table>